/* Colors */
.spacing {
  margin: 2em;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.6em;
}
.btn {
  border: 2px solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  line-height: 2.2em;
  margin: 1.2em;
  text-transform: uppercase;
  color: #cb283e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn:hover {
  color: white;
  background-color: #cb283e;
  border-color: #cb283e;
}
.btn i {
  margin-right: 0.2em;
  vertical-align: top;
}
li > a:hover .color1 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #101010;
  background-color: #03949a;
  border: 0.15em solid #03949a;
}
li > a:hover .color2 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #101010;
  background-color: #f2b836;
  border: 0.15em solid #f2b836;
}
li > a:hover .color3 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #101010;
  background-color: #f29900;
  border: 0.15em solid #f29900;
}
li > a:hover .color4 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #101010;
  background-color: #e96b5a;
  border: 0.15em solid #e96b5a;
}
li > a:hover .color5 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #101010;
  background-color: black;
  color: white;

  border: 0.15em solid black;
}
.navbar-default,
.navbar-collapse {
  border: #101010;
}
nav.navbar.navbar-default .color1,
a .color1,
* .color1 {
  color: #03949a;
}
nav.navbar.navbar-default .color2,
a .color2,
* .color2 {
  color: #f2b836;
}
nav.navbar.navbar-default .color3,
a .color3,
* .color3 {
  color: #f29900;
}
nav.navbar.navbar-default .color4,
a .color4,
* .color4 {
  color: #e96b5a;
}
nav.navbar.navbar-default .color5,
a .color5,
* .color5 {
  color: black;
}
/* Rainbow Top Bar */
.top-bar {
  background: url(../images/top-horiz-bar.png) top center;
  height: 5px;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.bottom-bar {
  background: url(../images/top-horiz-bar.png) top center;
  bottom: 0;
  height: 5px;
  width: 100%;
  z-index: 10;
}
/* Icons */
.social-btns i {
  border-radius: 50%;
  border: 0.15em solid;
  font-size: 1em;
  height: 40px;
  width: 40px;
  padding: 11px;
}
/* Navigation Bar */
nav.navbar.navbar-default {
  background-color: #101010;
  min-height: 2.6em;
  opacity: 0.9;
  z-index: 9;
}
nav.navbar.navbar-default li > a {
  border-bottom: 1px solid;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
  line-height: 2.2em;
  margin: 0 1em;
  padding: 0;
  padding-top: 0.5em;
  text-transform: uppercase;
}
nav.navbar.navbar-default a:hover,
nav.navbar.navbar-default a:focus {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-bottom: 3px double;
}
nav.navbar.navbar-default a:hover.color1,
nav.navbar.navbar-default a:focus.color1 {
  color: #04dce5;
}
nav.navbar.navbar-default a:hover.color2,
nav.navbar.navbar-default a:focus.color2 {
  color: #f7d17e;
}
nav.navbar.navbar-default a:hover.color3,
nav.navbar.navbar-default a:focus.color3 {
  color: #ffb940;
}
nav.navbar.navbar-default a:hover.color4,
nav.navbar.navbar-default a:focus.color4 {
  color: #f2a89e;
}
nav.navbar.navbar-default a:hover.color5,
nav.navbar.navbar-default a:focus.color5 {
  color: black;
}
/* Header */
header {
  max-height: 700px;
  overflow: hidden;
}
header .row {
  padding: 5% 0 10% 0;
}

header div.intro {
  padding: 5% 10% 0 5%;
}
header div.row div.profile img {
  width: 100%;
  margin-bottom: 2em;
}
header div.row div.profile div.contact {
  text-align: center;
}


header h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 6em;
  /* fallback in case dynamic font-size (by viewport) doesn't work */
  font-size: 10vw;
  font-weight: 700;
  line-height: 0.8em;
  margin: 0 0 30px 0;
  padding: 0;
  text-transform: uppercase;
}
header h2.greeting {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  font-size: 6vw;
  font-weight: normal;
  margin: 5em 8em 0.3em 0em;
  text-align: center;
  padding: 0 0 0 10%;
  text-transform: none;
  text-indent: -20%;
  line-height: 0.5em;
}
header h2.subheader {
  color: #efede1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

div.about-me {
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 5%;
}

div.about-me .tagline {
  padding-bottom: 5%;
  text-align: center;
}
div.about-me .tagline h2{
  font-size: 3em;
}

  
div.about-me div.individual-column {
  text-align: center;
}

div.about-me i {
  font-size: 10em;
}

section h2,
footer h2,
section h3,
footer h3 {
  color: #101010;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  line-height: 1em;
  margin: 0.4em 0;
  padding: 0;
}
section h2,
footer h2 {
  display: inline-block;
  font-size: 3em;
  text-transform: uppercase;
  border-bottom: 3px solid;
  padding-bottom: 0.3em;
}
section h3,
footer h3 {
  font-size: 2em;
  padding: 0;
}
section#books,
footer#books {
  background-color: #f2b836;
}
section#books p a,
footer#books p a {
  color: #cb283e;
  font-weight: bold;
  text-decoration: none;
}
section#books p a:hover,
footer#books p a:hover {
  border-bottom: 2px solid;
  color: #db4b5e;
}
section#articles,
footer#articles {
  background-image: url("../images/paper_texture.png");
  background-repeat: repeat;
}
section#articles .articles-btns img,
footer#articles .articles-btns img {
  height: 40px;
  margin: 1em;
}
section#speaking,
footer#speaking {
  color: #efede1;
  background-color: #f29900;
}
section#speaking h2,
footer#speaking h2 {
  color: #efede1;
}
section#speaking .speaking-btns img,
footer#speaking .speaking-btns img {
  max-height: 150px;
  max-width: 300px;
  margin: 1em 0.5em;
}
section#coding,
footer#coding {
  background-color: #efede1;
}
section#coding p,
footer#coding p,
section#coding h2,
footer#coding h2,
section#coding h3,
footer#coding h3 {
  color: #cb283e;
}
section#coding .coding-btns img,
footer#coding .coding-btns img {
  height: 80px;
  margin: 0.5em;
}
footer {
  background-color: #101010;
}
footer h2,
footer p {
  color: #efede1;
}
footer small {
  display: block;
  margin-bottom: 1em;
}
footer input[type=email] {
  height: 46px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
footer .btn {
  background-color: #101010;
  color: #cb283e;
  float: right;
  height: 46px;
  margin: 0;
  line-height: 1em;
}
/* Fallback styles */
.book {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 2em !important;
}
.book img {
  vertical-align: middle;
}
.csstransforms3d .books {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.csstransforms3d .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent;
  /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
  margin: 0;
}
.csstransforms3d .book img {
  position: relative;
  max-width: 100%;
}
.csstransforms3d .book:before,
.csstransforms3d .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}
.csstransforms3d .book:before {
  width: 100%;
  left: 7.5%;
  background-color: #5a2d18;
  box-shadow: 5px 5px 20px #333;
}
.csstransforms3d .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}
